<div class="spaced_div centered_div notes_list" style="background-color: lightblue;">
	<h2>List existing notes</h2>

	<div *ngFor="let inote of notes">
		<div class="spaced_div">
			<span>Title: </span>{{inote.title}}
		</div>

		<div class="spaced_div">
			<span>Contents: </span>{{inote.contents}}
		</div>

		<div class="spaced_div">
			<hr />
		</div>
	</div>

</div>
