@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
}

h2, h3 {
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}

body {
	margin: 2em;
}

body, input[text], button {
	color: #888;
	font-family: Cambria, Georgia;
}

{
	font-family: Arial, Helvetica, sans-serif;
}


div.text label {
	margin: 0;
	padding: 0;
	display: block;
	font-size: 100%;
	padding-top: .1em;
	padding-right: .25em;
	width: 6em;
	text-align: right;
	float: left;
}

div.text {
  margin: 0;
  padding: 0;
  padding-bottom: 1.25em;
} 

div.text input, div.text textarea {
	margin: 0;
	padding: 0;
	display: block;
	font-size: 100%;
}

input:active, input:focus, input:hover, textarea:active, textarea:focus, textarea:hover {
}

.spaced_div {
	padding: 10px 10px 10px 10px;
}

.centered_div {
	margin: 0 auto;
}

.form_div {
	width: 600px;
}

.error {
	color: red;
}

.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}