<form #noteForm="ngForm">
	<div class="spaced_div centered_div form_div form-group">
		<h2>Add a new note</h2>

		<div class="spaced_div">
			<label>Title:</label> <input [(ngModel)]="note.title" id="note.title" name="note.title" class="form-control" placeholder="title" required minlength="1" maxlength="255" #title="ngModel">

			<div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
				<div *ngIf="title.errors.required">Name is required.</div>
				<div *ngIf="title.errors.minlength">Name must be at least 1 characters long.</div>
				<div *ngIf="title.errors.maxlength">Name must not exceed 255.</div>
			</div>
		</div>

		<div class="spaced_div">
			<label>Contents:</label>

			<textarea [(ngModel)]="note.contents" id="note.contents" name="note.contents" class="form-control" placeholder="contents" required minlength="1" maxlength="1024" cols="30" rows="10" #contents="ngModel">
		</textarea>

			<div *ngIf="contents.invalid && (contents.dirty || contents.touched)" class="alert alert-danger">
				<div *ngIf="contents.errors.required">Contents is required.</div>
				<div *ngIf="contents.errors.minlength">Contents must be at least 1 characters long.</div>
				<div *ngIf="contents.errors.maxlength">Contents must not exceed 255.</div>
			</div>
		</div>

		<div class="spaced_div">
			<button type="submit" class="btn btn-success" (click)="addNote()">Submit</button>
		</div>

	</div>
</form>